:root {
  /* Colors: */
  --unnamed-color-707070: #707070;
  --unnamed-color-d226d8: #d226d8;

  /* Font/text values */
  --unnamed-font-family-segoe-ui: Segoe UI;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-60: 60px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-80: 80px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-80);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0042f6);
  text-transform: var(--unnamed-text-transform-uppercase);
}
/*/////////////////////////////////////////////////////////////////*/
/* Beginning CSS to complete before constructing web page */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px/16px = 62.5% -> 1rem = 10px*/
  font-family: nunito;
}

/* /////////////////////////////////////////////////////////////// */

.title {
  font-size: 2.6rem;
}

.square {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  padding: 5rem;
  margin-top: 1.6rem;
  height: 10%;
  width: 80%;
  background-color: aqua;
  box-shadow: 10px 5px 5px red;
}

.title_card {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}

.circle {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  border-radius: 50%;
  padding: 5rem;
  margin-top: 1.6rem;
  height: 50%;
  width: 50%;
  background-color: rgb(30, 255, 0);
  box-shadow: 10px 5px 5px blue;
}

.title_card2 {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}

.title_card2:hover {
  color: red;
}

a {
  display: block;
}
