:root {
  /* Colors: */
  --gray: #707070;
  --pink: #d226d8;
  --blue: #0042f6;
  --dark: #707070;
  --green: #54b962;

  /* Font/text values */
  --unnamed-font-family-segoe-ui: Segoe UI;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-60: 60px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-80: 80px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-80);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0042f6);
  text-transform: var(--unnamed-text-transform-uppercase);
}
/*/////////////////////////////////////////////////////////////////*/
/* Beginning CSS to complete before constructing web page */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px/16px = 62.5% -> 1rem = 10px*/
  /* font-family: nunito; */
  font-family: var(--unnamed-font-family-segoe-ui);

  color: var(--gray);
}

/* /////////////////////////////////////////////////////////////// */

.container {
  /*max-width: 1200px; /*120rem = 1200 pixels*/
  /* margin: 8rem auto; */
  background-color: var(--pink);
  min-height: 15rem;
}

.prose {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.word {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 8rem;
  align-items: center;
}

.circle2 {
  top: 363px;
  left: 258px;
  width: 387px;
  height: 387px;
  border-radius: 50%;
  background-color: var(--green);
  border: 1px solid var(--dark);
  box-shadow: 15px 3px 6px #000000fa;
  margin-left: 258px;
  /* border: 1px solid #707070;
  opacity: 1; */
}

.shell {
  display: flex;
  justify-content: flex-start;
}

.title {
  font-size: 2.6rem;
}

.square {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  padding: 5rem;
  margin-top: 1.6rem;
  height: 10%;
  width: 80%;
  background-color: aqua;
  box-shadow: 10px 5px 5px red;
}

.title_card {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}

.circle {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  border-radius: 50%;
  padding: 5rem;
  margin-top: 1.6rem;
  height: 50%;
  width: 50%;
  background-color: rgb(30, 255, 0);
  box-shadow: 10px 5px 5px blue;
}

.title_card2 {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}

.title_card2:hover {
  color: red;
}

a {
  display: block;
}
